<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script type="text/javascript" src="/script.js"></script>

	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">
	<title>abrasss@ Homework CS340-400-Spring17</title>
</head>
<body>

	<div class="container" style="background-color:blue; color:white">
       <h1>Literary Location database</h1>
       <p> Written for CS340-400, Spring 2017 </p>
       <p> abrasss@ </p>
  </div> <!-- container -->
	<p>

    <div class="container"> 
		<!-- Top Left: Search the book database -->
		<div class="row" style="margin-top:30px">
			<div class="col-sm-4"> 
				<form id="searchForm" method="get">
					<button style="border-color:lightblue;background-color:blue;color:white;font-size:large" type="button" id="searchButton" name="searchButton" value="searchButton">Search in books</button>
					<table style="border:none;margin-top:5px">
					<tr><th>Title</th><td> <input type="text" name="Title" id="bookSearchTitle"></td>
					<tr><th>Author </th><td><input type="text" name="Author" id="bookSearchAuthor"></td>
					<tr><th>Location </th><td><input type="text" name="Location" id="bookSearchLocation"></td>
					<tr><th>Character </th><td><input type="text" name="Character" id="bookSearchCharacter"></td>
					</table>
				</form>
			</div>
			<!-- Script for handling the book search button -->
 			<script>
				document.getElementById('searchButton').addEventListener('click', function() {
					clientSearchBooks(
						location,
						{
							'title': document.getElementById('bookSearchTitle').value,
							'author': document.getElementById('bookSearchAuthor').value,
							'location': document.getElementById('bookSearchLocation').value,
							'character': document.getElementById('bookSearchCharacter').value})
						}, false);
			</script>
			
		<!-- Top Right: add a new literary work -->
			<div class="col-sm-4"> 
				<button style="border-color:#FDD835;background-color:orange;color:white;font-size:large" type="button" id="addBookButton" name="addBookButton" value="addBookButton">Add a book</button>
			</div>
  	</div> <!-- row -->
		<div class="row" style="margin-top:30px">
			<div class="col-sm-4"> 
					<button style="border-color:lightblue;background-color:blue;color:white;font-size:large" type="button" id="listButton" name="listButton" value="listButton">List all books</button>
			</div> 
			<div class="col-sm-4"> 
				<button style="border-color:#FDD835;background-color:orange;color:white;font-size:large" type="button" id="addLocationButton" name="addLocationButton" value="addLocationButton">Add a location to a book</button>
			</div>
  	</div> <!-- row -->

  	</div> <!-- container -->


		<!-- Listing of literary works -->
    <div class="container" id="book_list">
      <div class="row">
        <h2>Search results</h2>
			</div>
			
			<div id = "book_summary"> <!-- book_summary -->
      <div class="row">
        	<div class="col-sm-2" style="font-weight:bold"> Title</div>
        	<div class="col-sm-2" style="font-weight:bold"> Author</div>
        	<div class="col-sm-2" style="font-weight:bold"> Pub. year</div>
        	<div class="col-sm-2" style="font-weight:bold"> Primary Location</div>
			</div>

			{{#each results}}

      	<div class="row" id="bookRow{{this.opus_id}}">
					<div id="book_dataFields{{this.opus_id}}">
        	<div class="col-sm-2" style="border-style:solid;border-width:thin" id="book_title{{this.opus_id}}">{{this.title}} </div>
        	<div class="col-sm-2" style="border-style:solid;border-width:thin" id="book_author{{this.opus_id}}"> {{this.author}} </div>
        	<div class="col-sm-2" style="border-style:solid;border-width:thin" id="book_pubyear{{this.opus_id}}"> {{this.pubyear}} </div>
					<div class="col-sm-2" style="border-style:solid;border-width:thin" id="book_location{{this.opus_id}}"> {{this.location}} </div>
					</div><!-- dataFields -->
				</div> <!-- /row -->

			{{/each}}

			</div> <!-- /book_summary -->
    </div> <!-- /book_list -->


    <hr>
		<div class="container" id="ResultsGoHere">
		</div>
    <hr>
    <footer>
      <p>&copy; 2017 abrasss@oregonstate.edu</p>
    </footer>
</body>
</html>
